absl-py==0.6.1
arxiv-latex-cleaner==0.1.16
backcall==0.2.0
cmapy==0.6.6
colorama==0.4.4
colour==0.1.5
configargparse==1.2.3
dataio==0.0.5
editdistance==0.5.3
fastdtw==0.3.4
frechetdist==0.6
h5py==2.10.0
imageio==2.9.0
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.17.2
lasagne==0.1
networkx==2.4
numexpr==2.7.1
numba==0.56.0
opencv-python==4.1.2.30
pandas==0.25.3
parso==0.7.1
pillow==6.2.0
prompt-toolkit==3.0.8
pygsp==0.5.1
pymongo==3.10.1
pyqt5-sip==4.19.18
pyqtwebengine==5.12.1
python-levenshtein==0.12.0
pytz==2019.3
pywavelets==1.1.1
scikit-image==0.17.2
scipy==1.3.2
seaborn==0.9.0
similaritymeasures==0.4.4
sk-video==1.1.10
textdistance==4.2.0
theano==0.7.0
tifffile==2020.7.17
torchgan==0.0.5
torchsummary==1.5.1
tqdm==4.43.0
numba==0.56.0
